.product img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;

}

.product-name {
    color: #0E161A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* H6 */
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.product-info{
    margin-left: 14px;

}
.product-info p{
    margin-top: 5px;
}
.btn-cart{
   
width: 100%;
border-radius: 0px 0px 8px 8px;
border: 1px solid #95A0A7;
background: #FFE0B3;
position: absolute;
bottom: 0;
}
.btn-cart:hover{
    background-color: orange;
}